::selection {
    background:#f2f2f2;
    color:#000;
}

::-moz-selection {
    background:#f2f2f2;
    color:#000;
}

#centerContainer {
    width: 18%;
    text-align: left;
    margin: 0px auto;
}
/* https://stackoverflow.com/questions/11088938/is-this-the-best-way-to-make-the-body-max-width-and-centered/11088982 */

.grid-image {
    display: inline-block;
    position: relative;
    bottom: 23px;
    right: 180px;
    height: 175px;
    width: 175px;
    cursor: help;
}

body {
    display: block;
    margin-top: 250px;
    margin-left: auto;
    margin-right: auto;
    font-size: 13px;
    font-family: 'Lato', sans-serif;
    text-align: center;
}

a {
    color: #b8bf84;
}

a:hover {
    -webkit-transition: color .2 ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #d1d4b6;
}

a:visited {
    -webkit-transition: color .2 ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #aba75d;  
}

a:hover:visited {
    -webkit-transition: color .2 ease-in-out;
    -moz-transition: color .2s ease-in-out;
    -o-transition: color .2s ease-in-out;
    transition: color .2s ease-in-out;
    color: #b8bf84;
}

p {
    display: inline-block;
    position: relative;
    top: 5px;
    left: 180px;
    text-align: left;
}